<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alterar dados</title>
    <link rel="stylesheet" href="/assets/css/styleAlterarDados.css" />
</head>

<body>

    <%- include('includes/navbar') %>

    <main>

        <div class="divContainer">
            <div class="divConteudo">
                <h2>Alterar dados</h2>

                <p>Nome: <%- userInfo.data.name%></p>
                <p class="nameEdit">&#128393</p> <br>
                <p>E-mail: <%- userInfo.data.email %></p>
                <p class="emailEdit">&#128393</p> <br>
                <p>Senha: *****</p>
                <p class="passwordEdit">&#128393</p> <br>

            </div>

            <div class="modais">

                <dialog class="modalNameEdit">
                    <div class="containerModal">
                        <form action="" method="POST" class="formNameEdit">
                            <div class="headerFormNameEdit">
                                <h2>Alterar Nome</h2>
                                <span class="iconXNameEdit"></span> <br>
                            </div>

                            <div class="bodyFormNameEdit">
                                <%- include('includes/messages')%> <br>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="text" name="name" class="inputNameEdit" placeholder="Digite seu novo nome"
                                    required> <br>
                                <button class="submitFormNameEdit">Alterar nome</button>
                            </div>
                        </form>
                    </div>
                </dialog>

                <dialog class="modalEmailEdit">
                    <div class="containerModal">
                        <form action="" method="POST" class="formEmailEdit">
                            <div class="headerFormEmailEdit">
                                <h2>Alterar E-mail</h2>
                                <span class="iconXEmailEdit"></span> <br>
                            </div>
                            <%- include('includes/messages') %> <br>
                            <div class="bodyFormEmailEdit">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="text" name="email" class="inputEmailEdit" placeholder="Digite seu novo e-mail" required>
                                <br>
                                <button class="submitFormEmailEdit">Alterar e-mail</button>
                            </div>
                        </form>
                    </div>
                </dialog>

                <dialog class="modalPasswordEdit">
                    <div class="containerModal">
                        <form action="" method="POST" class="formPasswordEdit">
                            <div class="headerFormPasswordEdit">
                                <h2>Alterar Senha</h2>
                                <span class="iconXPasswordEdit"></span>
                            </div>
                            <p style="color: white; margin-top: 10px; margin-left: 15px;">Sua nova senha precisa conter
                                pelo
                                menos:</p>
                            <ul style="margin-left: 35px;">
                                <li>8 caracteres</li>
                                <li>Uma letra maiúscula</li>
                                <li>Uma letra minúscula</li>
                                <li>Um número</li>
                                <li>Um caracter especial @#$%</li>
                            </ul>
                            <br>
                            <%- include ('includes/messages')%>
                            <div class="bodyFormPasswordEdit">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="password" name="inputCurrentPasswordEdit" class="inputCurrentPassword" placeholder="Digite sua senha atual"
                                    required> <br>
                                <input type="password" name="newPassword" class="inputNewPasswordEdit" placeholder="Digite sua nova senha" required>
                                <br>
                                <input type="password" name="confirmNewPassword" class="inputConfirmNewPassword" placeholder="Confirme sua nova senha"
                                    requied> <br>
                                <button class="submitFormPasswordEdit">Alterar senha</button>
                            </div>
                        </form>
                    </div>
                </dialog>

            </div>

        </div>




    </main>


    <script src="./assets/js/bundles/alterarDados.bundle.js"></script>
</body>

</html>